<h2>Zapisz się</h2>

<%= simple_form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.input :name, :label => 'Imię' %>
  <%= f.input :email, :label => 'Email' %>
  <%= f.input :password  %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, :value => "Wyślij" %>
<% end -%>
